use nix shell.nix

export PROJECT_NAME=interact
export ORGANIZATION_NAME=combostrap

# Installing the next cli iteration
CLI_NAME="ninteract"
INTERACT_CLI="$HOME/.local/bin/$CLI_NAME"
if ! command -v "$CLI_NAME" > /dev/null 2>&1 ; then
  echo "Command $CLI_NAME not found installing" >&2
  LOCAL_BIN_TARGET="$HOME/.local/bin"
  mkdir -p "$LOCAL_BIN_TARGET"
  # Creating the symlink
  ln -s "$PWD/contrib/scripts/$CLI_NAME" "$LOCAL_BIN_TARGET/$CLI_NAME"
  # tsx should be installed globally
  if ! command -v "tsx" > /dev/null 2>&1; then
    if ! command -v "npm" > /dev/null 2>&1; then
      echo "Npm node found, tsx not installed, $CLI_NAME cli will not work" >&2
    else
      echo "Tsx not installed, installing" >&2
      npm install -g tsx
    fi
  fi
else
  echo "Command $CLI_NAME found" >&2
fi