node_modules
.idea

#https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
# not a zero install, we don't want the cache files
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# build
dist
# cache
.interact
.aider*
