tmp

public/favicon.svg
public/favicon-96x96.png
public/favicon.ico
public/apple-touch-icon.png
public/web-app-manifest-192x192.png
public/web-app-manifest-512x512.png
public/site.webmanifest

# Registry
public/r