/* Headings based on Bootstrap */

/* Fighting the Preflight reset  */
@utility heading {
  font-weight: 500;
  line-height: 1.2;
  @apply mb-3 mt-5;
}

@utility h1 {
  font-size: calc(1.375rem + 1.5vw) !important;
  @apply heading;
}


@utility h2 {
  font-size: calc(1.325rem + .9vw) !important;
  @apply heading;
}


@utility h3 {
  font-size: calc(1.3rem + .6vw) !important;
  @apply heading;
}

@utility h4 {
  font-size: calc(1.275rem + .3vw) !important;
  @apply heading;
}

@utility h5 {
  font-size: 1.25rem !important;
  @apply heading;
}

@utility h6 {
  font-size: 1rem !important;
  @apply heading;
}

@utility lead {
  @apply text-xl text-muted-foreground;
}

@layer base {
  h1 {
    @apply h1 xl:text-5xl
  }
  h2 {
    @apply h2 xl:text-4xl
  }
  h3 {
    @apply h3 xl:text-3xl
  }
  h4 {
    @apply h4 xl:text-2xl
  }
  h5 {
    @apply h5 xl:text-xl
  }
}
